---
import ExperiencieItem from './ExperiencieItem.astro';

const EXPERIENCIE = [
{
  date: "Mayo 2025",
  title: 'Software Engineer', 
  company: 'Innovapues',
  description: "Diseñé y gestioné un sistema integral de estudios tributarios con frontend en React/React Native, backend en Python y PostgreSQL, optimizado con Memcached. Mejoré la entrega de contenido un 55% usando CDN y cacheo avanzado en AWS CloudFront, reduciendo costos un 30% mediante servidores EC2 con balanceo y escalado automático. Implementé CI/CD con GitHub Actions para garantizar despliegues seguros y alta disponibilidad.",
  link: 'https://cetapp.ceta.org.co',
  
}, 
  {
    date: 'Septiembre 2023',
    title: 'Fullstack Developer',
    company: 'Bancolombia',
    description:
      'Escale y desarrolle nuevos servicios en la plataforma del GRC, para el consumo de información frente al análisis de datos, por lo que recorte los tiempos de carga y despliegue en producción. Mejorando la accesibilidad, confidencialidad y seguridad en el cliente',
    link: 'https://grc-rotic.apps.bancolombia.com/',
  },
  {
    date: 'Agosto 2023',
    title: 'Lead Frontend Architect',
    company: 'NoCountry',
    description:
      'Lidere la incorporación y mantenibilidad del código del cliente, fine SOLID principles, consumo de APIs, manejador estado global, autentificación, seguridad e intérprete componentización en los sides projects',
    link: 'https://www.nocountry.tech/',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li>
        <ExperiencieItem {...experiencie} />
      </li>
    ))
  }
</ol>
